body {
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

select {
  background-color: #333;
  color: white;
  border: 1px solid #555;
  padding: 55px;
  margin: 55px;
}

button#filterButton {
  background-color: #555;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
}

button#filterButton:hover {
  background-color: #777;
}

p#error_message {
  color: red;
  display: none;
}